body{
    font-family: helvetica; 
}

#gif-cont{
    width: 100vw;
    height: 85vh;
    top:0px;
    left: 0px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    
}
#menu{
    display: flex;
    justify-content: space-between;
    width: 30vw;
    min-width: 250px;
    margin-left: 20px;
    margin-right: auto;
    margin-top:95vh;
    
}
#work-cont{
    display: flex;
    justify-content: center;
    margin-top:20px;
}

#list-cont{
    display: flex;
    flex-direction: column;
    width: 20vw;
    
}

#display-cont{
width: 70vw;
height: 45vw;

}

.temp{
    max-height: 10vw;
    width: 10vw;
    margin: 50px;
     
}