* {
    overflow-x:hidden;
}



a {
    text-decoration: none;
    color:black;
}

#logo {
    position: absolute;
    width:30vw;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    cursor:crosshair;
}

#button {
    font-family: Helvetica;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width:100vw;
    text-rendering: geometricPrecision;
}

#button1 {
    font-size: 11px;
    font-family: Helvetica;
    position:fixed;
    background-color: white;
    border: 0.3px black solid;
    border-radius: 15px;
    padding:5px;
    width:50px;
    left:20px;
    cursor:pointer;
}

#button2 {
    font-size: 11px;
    font-family: Helvetica;
    position:fixed;
    background-color: white;
    border: 0.3px black solid;
    border-radius: 15px;
    padding:5px;
    width:50px;
    float:right;
    right:90px;
    cursor:pointer;
}

#button3 {
    font-size: 11px;
    font-family: Helvetica;
    position:fixed;
    background-color: white;
    border: 0.3px black solid;
    border-radius: 15px;
    padding:5px;
    width:50px;
    float:right;
    right:20px;
    cursor:pointer;
}

#button4 {
    font-size: 11px;
    font-family: Helvetica;
    position:fixed;
    background-color: white;
    border: 0.3px black solid;
    border-radius: 15px;
    padding:5px;
    width:50px;
    float:right;
    right:20px;
    bottom:20px;
    cursor:pointer;
}