body{
    background-color: floralwhite;
}

header{
    display: block;
    height: 5vh;

}
#folder-cont-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99vw;
    top:0px;
    left: 0px;
}

#folder-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 99vw;
    top:0px;
    left: 0px;
}

.folder{
    width: 100px;
    margin: 20px;
    opacity: 0.4;
    transition-duration: 1s;
   
}

.folder:hover{
    opacity: 0.75;
}

.folder h2{
    font-family: Helvetica, sans-serif;
    font-size: small;
    text-align: center;
}

.folder img{
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    transition-duration: 2s;
    
}

.folder img:hover{
    width: 100%;
    opacity: 0.75;
    
}

#about{
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 100px;
}