* {
    overflow-x:hidden;
}



a {
    text-decoration: none;
    color:black;
}

#logo {
    position: absolute;
    width:30vw;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    cursor:crosshair;
}

button{
    font-size: 11px;
    font-family: Helvetica;
    position:fixed;
    background-color: white;
    border: 0.3px black solid;
    border-radius: 15px;
    padding:5px;
    width:50px;
    cursor:pointer;
}
#button_home {
    left:20px;
   }
   
   #button_work{
    
    left:20px;
    
}

#button_store {
    float:right;
    right:90px;
    
}



#button_about {
    float:right;
    right:20px;
    
}

#button_cart {
    float:right;
    right:20px;
    bottom:20px;
    
}